
/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/

* {	
	font-size: 14px;
	font-style: italic;
        font-family: JetBrainsMono Nerd Font;
        color: #a40000;
	border: none;
        border-radius: 12px;
        box-shadow: none;
        text-shadow: none;
        background-image: none;	
}

window{
	border-radius: 0;
        background-image: url("file:///etc/greetd/backgrounds/Touka&Kaneki_1920x1080.jpg");
        background-size: cover;
        background-position: center;
}

#window {
        padding-bottom: 10.5em;
}

#clock{
        font-weight: lighter;
	min-height:5em;
        margin-bottom: 5em;
}

#body{
	margin-right: 3em;
        min-height: 10em;	
}

#input-field{
	margin-right: 0.5em;
	border: 1.5px solid #a40000;
        background-color: transparent;
}

#command-selector entry,
#command-selector button{
	color: #a40000;
	margin-right: 0.5em;
	font-weight: 700;
        box-shadow: none;
        text-shadow: none;
        background-image: none;
        background-color: transparent;
}

menu,
menuitem,
combobox,
combobox window,
combobox popover{
        box-shadow: none;
        text-shadow: none;
        background-image: none;
        background-color: transparent;
}

cellview{
	font-weight: 400;
}

button{	
	color: white;
	margin-right: 0.5em;
        box-shadow: none;
        text-shadow: none;
        background-image: none;
        border: 1px solid transparent;
        background-color: transparent;
        transition: all 0.5s steps(48);
}

button:hover,
button:focus {
        border: 1px solid #a40000; 
}

#body box,
#body label,
#command-selector,
#command-selector box,
#command-selector arrow{	
}
